@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

/* Wildcards */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors palette */
/* Brights and subtles collections */
.red {
    color: #ed1a3b;
    text-decoration: underline #ed1a3b;
    text-decoration-skip-ink: none;
}
.pink {
    color: #e94d88;
    text-decoration: underline #e94d88;
    text-decoration-skip-ink: none;
}
.flamingo {
    color: #f69997;
    text-decoration: underline #f69997;
    text-decoration-skip-ink: none;
}
.orange {
    color: #f49733;
    text-decoration: underline #f49733;
    text-decoration-skip-ink: none;
}
.yellow {
    color: #ffda69;
    text-decoration: underline #ffda69;
    text-decoration-skip-ink: none;
}
.lime {
    color: #dde569;
    text-decoration: underline #dde569;
    text-decoration-skip-ink: none;
}
.green {
    color: #a3c149;
    text-decoration: underline #a3c149;
    text-decoration-skip-ink: none;
}
.teal {
    color: #82cdbe;
    text-decoration: underline #82cdbe;
    text-decoration-skip-ink: none;
}
.blue {
    color: #26a0d6;
    text-decoration: underline #26a0d6;
    text-decoration-skip-ink: none;
}
.purple {
    color: #b74984;
    text-decoration: underline #b74984;
    text-decoration-skip-ink: none;
}
.lemon {
    color: #fff8a1;
    text-decoration: underline #fff8a1;
    text-decoration-skip-ink: none;
}
.seafoam {
    color: #e5f0d3;
    text-decoration: underline #e5f0d3;
    text-decoration-skip-ink: none;
}
.lagoon {
    color: #6ea39f;
    text-decoration: underline #6ea39f;
    text-decoration-skip-ink: none;
}
.party {
    color: #a9dcd6;
    text-decoration: underline #a9dcd6;
    text-decoration-skip-ink: none;
}
.balmy {
    color: #a8d9ea;
    text-decoration: underline #a8d9ea;
    text-decoration-skip-ink: none;
}
.heather {
    color: #a995c7;
    text-decoration: underline #a995c7;
    text-decoration-skip-ink: none;
}
.freesia {
    color: #e5b7d6;
    text-decoration: underline #e5b7d6;
    text-decoration-skip-ink: none;
}
.bath {
    color: #fad5e5;
    text-decoration: underline #fad5e5;
    text-decoration-skip-ink: none;
}
.petal {
    color: #fcd0bb;
    text-decoration: underline #fcd0bb;
    text-decoration-skip-ink: none;
}
.coral {
    color: #f37965;
    text-decoration: underline #f37965;
    text-decoration-skip-ink: none;
}
.crumb {
    color: #c8b394;
    text-decoration: underline #c8b394;
    text-decoration-skip-ink: none;
}
/* Border palette - Brights */
.border-red {
    border: 1px solid #ED1A3B;
}
.border-pink {
    border: 1px solid #E94D88;
}
.border-flamingo {
    border: 1px solid #F69997;
}
.border-orange {
    border: 1px solid #F49733;
}
.border-yellow{
    border: 1px solid #FFDA69;
}
.border-lime{
    border: 1px solid #DDE569;
}
.border-green{
    border: 1px solid #A3C149;
}
.border-teal{
    border: 1px solid #82CDBE;
}
.border-blue{
    border: 1px solid #26A0D6;
}
.border-purple{
    border: 1px solid #B74984;
}

/* Default text color */
.grey {
    color: #767e85;
}

/* Utility classes */
.hide {
    display: none;
}

/* Generic project styles */
a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    padding-left: 1.5rem;
}

li {
    padding-bottom: 1em;
}

h2 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: underline solid;
    text-decoration-skip-ink: none;
    padding-top: 1rem;
}

.headings3 {
    font-family: "Satisfy", cursive;;
    text-decoration: none;
    font-size: 1.5rem;
}


/* Body and main elements */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    width: 92%;
    margin: auto;
    color: #767e85;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

header {
    position: fixed;
    width: 92%;
    background-color: #fff;
    color: #41508E;
}

.logo-image {
    background: url(../images/fl255.svg) no-repeat top center/cover;
    height: 70px;
    width: 290px;
    margin: auto;
}

.logo-text {
    text-align: center;
    color: #fcd0bb;
    background-color: #767e85;
}

nav {
    position: fixed;
    width: 92%;
    background-image: linear-gradient(-45deg, #C8B394, #fcd0bb, #F37965);
    border-bottom: #767e85;
    margin: auto;
}

#nav-toggle:checked + .nav-toggle-label + #nav-primary {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: fixed;
    width: 92vw;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(-45deg, #C8B394, #fcd0bb, #F37965);
    border-bottom: 1px solid #767e85;
    color: #41508E;
    margin-bottom: 1em;
}

#nav-primary {
    margin-top: 17px;
    display: none;
}

#nav-primary > li {
    list-style-type: none;
}

.top {
    padding-top: 1em;
}

.active {
    border-bottom: 1px solid #767e85;
}

main {
    display: flex;
    flex-direction: column;
    /* Push the footer to the bottom of the visible page */
    flex: 1 0 auto;
    margin-top: 125px;
    padding-top: 1em;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(-45deg, #C8B394, #fcd0bb, #F37965);
    text-align: center;
    vertical-align: middle;
}

/* Set the height of the socials div */
#socials {
    height: 40px;
}

/* Style the components of the undefined list */
#social-networks {
    padding: 5px 0;
    list-style-type: none;
    font-size: 150%;
    /* Place all items on one row, space them evenly */
    display: flex;
    justify-content: space-evenly;
}

/* Styling for the Story section */
.story {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
    gap: .75em;
}

.story-image {
    background: url(../images/Kel.webp) no-repeat top center/cover;
    height: 150px;
    width: 150px;
    max-width: 450px;
    max-width: 450px;
    border-radius: 50%;
    margin: auto;
}

/* Section styling for the newsletter signup */
.newsletter {
    padding-top: 1em;
    padding-bottom: 1em;
}

#newsletter-signup {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
    background-image: linear-gradient(-25deg, #a9dcd6, #6ea39f, #006f70);
    margin: auto;
}

.form-inputs {
    width: 80%;
    margin-left: 10%;
    height: 25px;
    border: 2px solid #767e85;
    border-radius: 2px;
    padding: 0 5px;
}

.form-label {
    color: #fff;
    padding: 5px 5px;
}

.submit-btn {
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: #454b1b;
    color: #fff;
    font-size: 1.2rem;
}

/* Extras section styling */
.extras {
    display: grid;
    gap: .75em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.four-divs {
    text-decoration: underline solid #fcd0bb;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1.5px;
}

/* Workshops section styling */
#workshops {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-items: center;
}

.cave-blurb {
    padding-bottom: 1em;
}

.cave-map {
    width: 100%;
}

.cave-map div {
    display: flex;
    justify-content: center;
}

/* Crafty crew page */
/* Team link button formatting */
.team-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gallery page */
#onstage img, #workshops img, #cards img {
    width: 97%;
    line-height: 2em;
}

#onstage, #workshops, #cards {
    line-height: 2em;
}

/* Catalogue page */
#catalogue-signup {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
    background-image: linear-gradient(-25deg, #a9dcd6, #6ea39f, #006f70);
    margin: auto;
}

.radio-buttons {
    display: block;
    width: 80%;
    margin:auto;
    color: #fff;
    text-align: center;
}

#captioned {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%
}

.figures img {
    width: 300px;
    height: 300px;
}

figcaption {
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline #a3c149;
    text-decoration-skip-ink: none;
}

/* Thank you page */
#thanks {
    text-align: center;
    background-color: #767e85;
}

/* Media query for larger or landscape mobiles */
@media screen and (min-width: 576px) {
    
    #onstage, #workshops, #cards {
        column-count: 2;
        column-gap: 0;
    }

}

/* Media query for tablets and larger */
@media screen and (min-width: 768px) {

    #logo-image {
        background: url(../images/fl255.svg) no-repeat top center/cover;
        height: 100px;
        width: 400px;
    }
    
    nav > ul {
        padding-left: 0;
    }

    #nav-primary {
        display: flex;
        flex-direction: row;
        margin: auto;
        position: static;
        width: 100%;
        border-bottom: 1px solid #767e85;
        background-color: transparent;
    }

    #nav-primary > li {
        text-align: center;
    }

    #nav-primary > li a {
        display: block;
        width: 100%;
    }

    .nav-toggle-label {
        display: none;
    }

    .nav-block {
        padding-top: 1em;
        margin: auto;
    }

    main {
        margin-top: 142px;
    }

    .story {
        grid-template-columns: 35% 1fr;
    }

    .story-image {
        height: 220px;
        width: 220px;
    }

    .extras {
        height: 180px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .shop, .crew {
        align-self: flex-start;
        height: 110px;
    }

    .view, .request {
        align-self: flex-end;
        height: 110px;
    }

    /* Gallery page */
    #onstage, #workshops, #cards {
        column-count: 3;
    }

    /* Catalogues page */
    .radio-buttons {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    #top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #bottom-row {
        display: flex;
        justify-content: center;
    }
}


/* Media query for laptops and larger */
@media screen and (min-width: 992px) {

    body {
        width: 80%;
    }
    
    header {
        width: 80%;
    }

    nav {
        width: 80%;
    }

    .story {
        grid-template-columns: 30% 1fr;
    }

    #workshops {
        grid-template-columns: 600px 1fr;
        gap: 0.75em;
        align-items: center;
    }

    /* Gallery page */
    #onstage, #workshops, #cards {
        column-count: 4;
    }

    /* Catalogue page */
    #captioned {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .figures {
        width: 33.33%;
    }

    .figures img {
        width: 350px;
        height: 350px;
    }

    #bottom-row {
        justify-content: left;
    }
}