@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

/* Wildcards */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    width: 95%;
    margin: auto;    
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #767e85;
    font-family: "Montserrat", sans-serif;
}

/* Generic project styles */
a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    padding-left: 1.5rem;
}

li {
    padding-bottom: 1em;
}

h2 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: underline solid;
    text-decoration-skip-ink: none;
    padding-top: 1rem;
}

h3 {
    font-family: "Satisfy", cursive;;
    color:#fcd0bb;
    font-size: 1.5rem;
}

.melon-mambo {
    text-decoration-color: #e94d88;
}

.pumpkin-pie {
    text-decoration-color: #f49733;
}

.granny-apple-green {
    text-decoration-color: #a3c149;
}

.azure-afternoon {
    text-decoration-color: #26a0d6;
}

.cost {
    color: #0d5893; /* Blueberry bushel */
    text-decoration-color: #0d5893;
}

.savings {
    color: #00825b; /* Shaded spruce */
    text-decoration-color: 00825b;
}

/* Utility classes */
.hide {
    display: none;
}

/* Header section styling */
header {
    display: block;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 2px 0;
    z-index: 99;
    background-color: #fff;
    width: 95%;
}

.logo-link {
    justify-content: center;
    display:flex;
}

#logo-image {
    background: url(../images/fl255.svg) no-repeat top center/cover;
    height: 70px;
    width: 300px;
    max-width: 1200px;
}

#logo-text {
    color:#fcd0bb;
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: #767e85;
}

nav {
    position: absolute;
    width: 100%;
    background-color: #fcd0bb;
    border-bottom: #767e85;
    margin: auto;
}

#nav-toggle:checked + .nav-toggle-label + #nav-primary {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: fixed;
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: #fcd0bb;
    border-bottom: 1px solid #767e85;
    color: #767e85;
}

#nav-primary {
    margin-top: 17px;
    display: none;
}

#nav-primary > li {
    list-style-type: none;
}

.top {
    padding-top: 1em;
}

.active {
    border-bottom: 1px solid #767e85;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    /* Push the footer to the bottom of the visible page */
    flex: 1 0 auto;
    margin-top: 127px;
    padding-top: .5vh;
    width: 98.6%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #fcd0bb;
    text-align: center;
    vertical-align: middle;
    width: 98.6%;
}

/* Set the height of the socials div */
#socials {
    height: 40px;
}

/* Style the components of the undefined list */
#social-networks {
    padding: 5px 0;
    list-style-type: none;
    font-size: 150%;
    /* Place all items on one row, space them evenly */
    display: flex;
    justify-content: space-evenly;
}

/* Homepage main elements */
/* Section styling for My story */
#story {
    /* Make everything appear on its own line */
    display: flex;
    flex-direction: column;
    /*justify text */
    text-align: justify;
}

/* Image for My Story */
#story-image-bg {
    background: url(../images/Kel.webp) no-repeat top center/cover;
    height: 150px;
    width: 150px;
    max-width: 450px;
    max-width: 450px;
    border-radius: 50%;
    margin: auto;
}

/* Section styling for the newsletter signup */
#newsletter-signup {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
    background: url(../images/Backing-white.png) no-repeat top center/cover #6ea39f;
    margin: auto;
}

.form-inputs {
    background: solid;
    width: 80%;
    margin-left: 10%;
    height: 25px;
    border: 2px solid #767e85;
    border-radius: 2px;
    padding: 0 5px;
}

.form-label {
    color: #fff;
    padding: 5px 5px;
}

.submit-btn {
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: #454b1b;
    color: #fff;
    font-size: 1.2rem;
}

/* Section styling for the 4-way options */
#four-way-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    vertical-align: middle;
} 

#four-way-div {
    text-align: center;
}

.four-divs {
    text-decoration: underline solid #fcd0bb;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1.5px;
}

.hidden-lap {
    color: #fff;
}

/* The Cave section styles */
#cave {
    display: flex;
    flex-direction: column;
}

#cave-map {
    width: 100%;
    margin: auto;
}

/* Crafty crew page */
/* Team link button formatting */
.team-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gallery page */
#onstage img, #workshops img, #cards img {
    width: 100%;
    line-height: 1em;
}

#onstage, #workshops, #cards {
    line-height: 0;
}

/* Catalogue page */
#catalogue-signup {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
    background: url(../images/Backing-white.png) no-repeat top center/cover #7e5fa8; /* Gorgeous grape */
    margin: auto;
}

/* Media query for larger or landscape mobiles */
@media screen and (min-width: 576px) {
    
    #onstage, #workshops, #cards {
        column-count: 2;
        column-gap: 0;
    }

}

/* Media query for tablets and larger */
@media screen and (min-width: 768px) {

    #logo-image {
        background: url(../images/fl255.svg) no-repeat top center/cover;
        height: 100px;
        width: 400px;
    }
    
    nav > ul {
        padding-left: 0;
    }

    #nav-primary {
        display: flex;
        flex-direction: row;
        margin: auto;
        position: static;
        width: 100%;
        border-bottom: 1px solid #767e85;
        background-color: transparent;
    }

    #nav-primary > li {
        text-align: center;
    }

    #nav-primary > li a {
        display: block;
        width: 100%;
    }

    .nav-toggle-label {
        display: none;
    }

    .nav-block {
        padding-top: 1em;
        margin: auto;
    }

    main {
        margin-top: 175px;
    }

    /* 4 divs section of homepage */
    #top-div, #bottom-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 5%;
    }

    .four-divs {
        width: 250px;
    }

    #top-div {
        justify-content: flex-start;
        column-gap: 12%;
    }

    #bottom-div {
        justify-content: flex-end;
        column-gap: 6%;
    }

    #onstage, #workshops, #cards {
        column-count: 3;
    }

}


/* Media query for laptops and larger */
@media screen and (min-width: 992px) {

    body {
        width: 80%;
    }
    
    header {
        width: 80%;
    }

    #story {
        flex-direction: row;
    }

    #story-image-bg {
        width: 250px;
        height: 250px;
    }

    #story-head {
        display: block;
    }

    #story-blurb {
        width: 70%;
    }

    #cave {
        flex-direction: row;
        align-items: center;
    }
    #cave-map {
        height: 300px;
    }

    /* 4 divs section of homepage */
    #top-div, #bottom-div {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #top-div {
        column-gap: 15%;
    }

    #bottom-div {
        column-gap: 8%;
    }

    #onstage, #workshops, #cards {
        column-count: 4;
    }

}


/* Media query for desktops and larger */
@media screen and (min-width: 1200px) {

    #top-div, #bottom-div {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #top-div {
        column-gap: 35%;
    }

    #bottom-div {
        column-gap: 20%;
    }

}

/* Media query for 4k 
@media screen and (min-width: 2000px) {
    body {
        font-size: 200%;
    }

    main {
        margin-top: 265px;
    }

    h2 {
        font-size: 200%;
    }

    h3 {
        font-size: 120%;
    }
    
    #top-div, #bottom-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 120%;
    }

    #top-div {
        column-gap: 30%;
    }

    #bottom-div {
        column-gap: 12%;
    }

    .four-divs {
        width: 500px;
    }

    #socials {
        height: 60px;
    }
    
    #copyright {
        height: 60px;
        align-items: center;
    }

    .submit-btn {
        font-size: 120%;
        margin: 10px auto;
        padding: 20px 40px;
        border-radius: 2px;
        background-color: #454b1b;
        color: #fff;
    }

    .form-inputs {
        height: 60px;
        font-size: 120%;
        margin-left: 20%;
        border: 2px solid #767e85;
        padding: 0 15px;
    }
} */